/*index部分*/
.floor-header{
    height: 50px;
    background:#367EA9;
}
#muns-floor{
    float: left;
    width:34px;
    height:34px;
    box-shadow: 0 0 5px #fff;
    border-radius:5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
    background:#367EA9;
    cursor: pointer;
    margin: 8px 10% 0 0 ;
}
#muns-floor:hover{
    color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
    background: #30658b;
}
#muns-floor:active {
    box-shadow: 0 0 5px #def0cf;
    background: #2a6488;
    color: rgb(239, 244, 240);
}
.muns-logor-1{
    height: 50px;
}
.muns-logor-1>span:nth-child(2){
    color: #fff;
    line-height:50px;
    font-size: 18px;
}
.muns-logor-2>div{
    position: relative;
    height: 50px;
    width: 100%;
    background: #367EA9;
    cursor: pointer;
}
#user-floor{
    position: absolute;
    display: none;
    top: 50px;
    z-index: 1000;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.88);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#user-floor>span{
    float:right;
    display: block;
    text-align: center;
    line-height:40px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    color: #8bb57d;
}
#user-floor>span:nth-child(1){
    margin-top: 10px;
}
#user-floor>span:hover{
    border-radius: 10px;
    background: rgba(0,0,0,0.31);
}
#user-floor>span:hover>a{
   color: #ffffff;
}
#user-floor>span>b{
    display: inline-block;
    width: 20%;
    color: rgb(53, 122, 150);

}
.muns-logor-2>div>span:nth-child(1){
    float:left;
    margin-left: 2%;
    display: block;
    border-radius: 100%;
    background: #ff9829;
    height: 48px;
    width: 48px;
    margin-top: 1px;
    border: 2px solid #fff;
}
.muns-logor-2>div>span:nth-child(2){

    float:right;
    display: block;
    height: 48px;
    width: 65%;
    color: rgba(255, 255, 255, 0.59);
    font-size: 16px;
    text-align: center;
    line-height: 48px;
}
.muns-logor-2>div>span:nth-child(2)>a{
    color: rgba(255, 255, 255, 0.77);
}
.muns-logor-2>div>span:nth-child(2)>b{
    padding-left: 5px;
}
.muns-logor-2>div:hover{
    background: #376a95;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: rgb(255, 255, 255);
}
.muns-logor-2>div>span:nth-child(2):hover>a{
    color: rgb(255, 255, 255);
}
.muns-logor-2>div>span:nth-child(2):hover>b{
    color: rgb(255, 255, 255);
}
.floor-aside-1{
    height: 800px;
    background:#F4F3F3;
}

.panel-default>.panel-heading{
   margin: 0;
}
#floor-1,#floor-2,#floor-12{
    background:#F4F3F3;
}
#floor-1>a,#floor-2>a,#floor-12>a{
    color:#5E5956;
}

.panel-group{
    margin-bottom: 1px;
}
#xian-floor-1,#xian-floor-3,#xian-floor-4,#xian-floor-5{
    border-top: none;
    border-right: none;
}
#xian-floor-5{
    border-bottom:2px solid white;
}
#floor-3,#floor-4,#floor-5,#floor-6,#floor-7,#floor-8,#floor-9,#floor-10,#floor-11{
    background:#F9F9F9;
}
#floor-3:hover,#floor-4:hover,#floor-5:hover,#floor-6:hover,#floor-7:hover,#floor-8:hover,#floor-9:hover,#floor-10:hover,#floor-11:hover{
    background: #45bdf0;
}
#floor-3>a,#floor-4>a,#floor-5>a,#floor-6>a,#floor-7>a,#floor-8>a,#floor-9>a,#floor-10>a,#floor-11>a{
    color:#5E5956;
}
#floor-3:hover a,#floor-4:hover a,#floor-5:hover a,#floor-6:hover a,#floor-7:hover a,#floor-8:hover a,#floor-9:hover a,#floor-10:hover a,#floor-11:hover a{
    color: #fafffb;
}
div .floor-panel{
    padding: 0;
}
div .floor-panel>span{
    float: left;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #F2F2F2;
    background:#FCFCFC;
}
div .floor-panel>span a{
    text-decoration: none;
}
a:focus,a:hover{
    text-decoration: none;
}
.floor-biao{
   display: inline-block;
   width: 100px;
    color:#5E5956;
    cursor: pointer;
}
#xian-floor>div:hover,#xian-floor-1>div:hover,#xian-floor-2>div:hover,#xian-floor-3>div:hover,#xian-floor-4>div:hover,#xian-floor-5>div:hover{
    background:#367EA9;
}
#xian-floor>div:hover a,#xian-floor-1>div:hover a,#xian-floor-2>div:hover span,#xian-floor-3>div:hover span,#xian-floor-4>div:hover span,#xian-floor-5>div:hover a{
   color: #ffffff;
}
#xian-floor-4>div,#xian-floor-3>div,#xian-floor-2>div{
    background:#F4F3F3;
}
.floor-biao>span{
    float: right;
    margin-top: 7px;
}
.panel-group .panel+.panel{
    margin-top: 0px;
}
.panel-default{
    border:1px solid white;
    border-right: none;
    box-shadow:0 0 2px #a8a8a8;
}
.panel-heading{
    padding: 15px 10px;

}
#floor-hezuo{
  height: 800px;
    border: 1px solid red;
    overflow-y: scroll;
}
/*首页部分*/
.index-logo{
    width: 100%;
    height: 120px;
    background:#F2F2F2;
    margin-bottom: 10px;
    border-radius: 10px;
}
.floorl:nth-child(2)>.index-logo{
    background: #199ED8;
    color: #ffffff;
}
.floorl:nth-child(3)>.index-logo{
    background:#7DC856;
    color: #ffffff;
}
.floorl:nth-child(4)>.index-logo{
    background:#5D6977;
    color: #ffffff;
}
.index-logo>span{
    float: left;
    margin:30px 0 0 10%;
    display: block;
    width: 60px;
    height:60px;
}
.index-logo>p{
    float: left;
    width: 60%;
    margin-top:30px;
}
.index-logo>p>span{
    width: 100%;
    text-align: center;
    float: left;
    display: block;

}
.index-logo>p>span:nth-child(2){
    margin-top: 10px;
    font-size: 25px;
}
.floor-maps-1>div{
    float: left;
    width: 100%;
    height: 420px;
}
.floor-maps-2>div{
    display: block;
    width: 100%;
}
.floor-maps-2>div>select{
    outline:none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
}

.map-floor-1{
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight:600;
    line-height: 50px;
    background: #F2F2F2;
}
.map-floor-2{
    height: 350px;
    border: 1px solid #e2e2e2;
    border-right:none;
}
.map-floor-3{
    height: 310px;
    border: 1px solid #e2e2e2;
}
#tip {
    background-color: #fff;
    padding:0 10px;
    border: 1px solid silver;
    box-shadow: 3px 4px 3px 0px silver;
    position: absolute;
    font-size: 12px;
    right: 10px;
    top: 5px;
    border-radius: 3px;
    line-height: 36px;
}
/*本地账户管理*/
.floor-account{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    text-align: left;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    background: #F2F2F2;
}
#floor-portrait{
    margin:20px auto;
    width: 100px;
    background: rgba(146, 255, 0, 0.36);
    border-radius: 10px;
    box-shadow:0 0 5px #b2b2b2;
    height: 100px;
}
#floor-portrait-upload{
    margin:0 auto;
    width: 83px;
}
.fileinput-button {
    position: relative;
    display: inline-block;
}

.fileinput-button input{
    position: absolute;
    right: 0px;
    top: 0px;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}
#floor-portrait-user{
    margin: 20px auto;
}
.floor-tong{
    float: right;
    width:auto;
    height: 40px;

}
.floor-tong>span:nth-child(1)>select{
    height: 25px;
    border-radius: 5px;
}
.floor-tong>span{
     display: inline-block;
     padding: 10px 25px;
    cursor: pointer;
 }
.floor-tong>span:last-child>input{
    width: 150px;
    height: 25px;
    border: none;
    border: 1px solid #14ff91;
    border-radius: 5px;
    outline: none;
}

















@media (max-width: 992px){
    .floor-tong{
        float: right;
        width:auto;
        height: 85px;

    }
    .floor-tong>span{
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
    }
    #user-floor>span>b{
        margin-left:0%;

    }
    .muns-logor-2>div{
        background: #3b86b6;
    }
    #floor-list{
        position: absolute;
        left: 0;
        z-index: 2000;
        height: auto;
    }

}
@media (max-width:600px ) {
    .index-logo{
        width: 100%;
        height: 80px;
        background:#F2F2F2;
        border-radius: 5px;
    }
    .index-logo>span{
        float: left;
        margin:20px 0 0 5%;
        display: block;
        width: 30px;
        height:30px;
    }
    .index-logo>p{
        float: left;
        margin-top:20px;
    }
    .index-logo>p>span{
        font-size: 12px;
    }
    .index-logo>p>span:nth-child(2){
        margin-top:0px;
        font-size: 16px;
    }
    .floor-maps-2>span{
        margin-top: 20px;
    }
    .floor-tong{
        float: right;
        width:auto;
        height: 100px;

    }
    .floor-tong>span{
        display: inline-block;
        padding: 5px 3px;
        cursor: pointer;
    }
    .floor-tong>span:last-child>input{
        width: 150px;
        height: 25px;
        margin-bottom: 5px;
        border: none;
        border: 1px solid #14ff91;
        border-radius: 5px;
        outline: none;
    }

}
